table {
    margin-top: 100px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #d8b1b1;
  }
  tr li{
      text-align: left;
  }